.install {
    background-image: url("../img/install-bg.png");
    background-size: cover;
    background-position: center;
    padding: 68px 0 66px;

    .title-row {
        margin-bottom: 61px;
    }

    .tabs {
        margin-left: 33px;
    }

    &__item {
        display: none;

        &.active {
            display: block;
        }

        &-wrap {
            display: flex;
            align-items: flex-start;
        }

        .content {
            width: 50%;
            padding-right: 125px;
        }

        .name {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 17px;
            margin-top: 0;
        }

        .wysiwyg {
            & > *:first-child {
                margin-top: 0;
            }
    
            p,
            li {
                line-height: 1.7;
                font-size: 15px;
            }
    
            p,
            ul,
            ol {
                margin: 30px 0;
            }
    
            ul {
                list-style-type: none;
                padding: 0;
    
                &.two-cols {
                    column-count: 2;
                }
    
                li {
                    position: relative;
                    padding-left: 41px;
                    
                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }
    
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 24px;
                        height: 24px;
                        background-color: @blue;
                        border-radius: 100px;
                        background-image: url("../img/icons/wysiwyg-list.png");
                        background-size: 10px 7px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
    
            ol {
                list-style-type: none;
                padding: 0;
                counter-reset: item;
    
                &.two-cols {
                    column-count: 2;
                }
    
    
                li {
                    counter-increment: item;
                    position: relative;
                    padding-left: 41px;
                    
                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }
    
                    &:before {
                        content: counter(item)".";
                        position: absolute;
                        left: 8px;
                        top: 0;
                        font-weight: 700;
                    }
                }
            }
    
            a {
                text-decoration: underline;
            }
    
            table {
                width: 100%;
                font-size: 15px;

                td {
                    border-top: 1px solid @blue;
                    padding: 10px 4px;

                    &:last-of-type {
                        text-align: right;
                    }
                }

                strong {
                    font-size: 20px;
                    white-space: nowrap;
                }
            }
        }

        .slider {
            width: 50%;
            padding: 0 40px;

            &__item {
                height: 336px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .slick-dots {
                bottom: -39px;

                li {
                    margin: 0 3px;
                    button {
                        &:before {
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            opacity: 1;
                            font-family: none;
                            font-size: 0;
                            content: '';
                            width: 7px;
                            height: 7px;
                            background-color: #97aad8;
                            box-shadow: 0 0 0 0 #97aad8;
                            border-radius: 100px;
                        }
                    }

                    &.slick-active {
                        button {
                            &:before {
                                opacity: 1;
                                background-color: @blue;
                                box-shadow: 0 0 0 3px #97aad8;
                            }
                        }
                    }
                } 
            } 
        }
    }
}

@media screen and (max-width: 1200px) {
    .install {
        

        &__item {
            .content {
                padding-right: 50px;
            }

            .slider {
                padding: 0;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .install {
        .tabs {
            margin-left: 0;
        }

        &__item {
            &-wrap {
                display: block;
            }
            

            .content {
                width: 100%;
                padding-right: 0;
                margin-bottom: 20px;
            }

            .slider {
                width: 100%;
            }
        }
    }
} 

@media screen and (max-width: 768px) {
    .install {
        padding: 30px 0 62px;

        .title-row {
            margin-bottom: 30px;
        }

        &__item {
            .name {
                font-size: 25px;
            }

            .wysiwyg {

                table {
                    strong {
                        font-size: 17px;
                    }
                }
            }
        }
    }    
}